
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    margin-top: 20px;
    padding: 0 50px;
}

header {
    color: #333;
    padding: 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.brand {
    font-size: 1.5em;
    font-weight: bold;
}
.brand-title{
    display: flex;
    align-items: center;
    gap: 5px;
}
.brand-icon{
    height: 38px;
}
.menu {
    display: flex;
    align-items: center;
}

nav {
    display: flex;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    margin-right: 15px;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #333;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}


.menu-toggle span {
    height: 3px;
    width: 25px;
    background-color: #333;
    margin: 5px 0;
    transition: 0.4s;
}
.main-content {
    text-align: center;
}

.image-container {
    position: relative;
    max-width: 100%;
}

img {
    max-width: 100%;
    height: auto;
}
.travel-banner-titile{
    position: absolute;         
    top: 22%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 60px;
    font-weight: bold;
   
    
    border-radius: 10px;
    text-align: center;
}
.travel-banner-description{
    position: absolute;         
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 15px;
    
    
    border-radius: 10px;
    text-align: center;
}

.overlay-text {
    position: absolute;         
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(214, 214, 214, 0.8);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}
.button {
    color: rgb(3, 3, 3);
  
    border: 2px solid white; 
    padding: 10px 20px; 
    text-decoration: none; 
    display: inline-block; 
    cursor: pointer; 
    border-radius: 6%;
  }
.overlay {
   
    background: rgba(16, 14, 14, 0.3);
    filter: brightness(0.5) contrast(0.9); 
    
}
 .content-section{
    display: flex;
    justify-content: space-between;
    
    padding: 0 110px;
    margin-top: 80px;
    width: auto;
    margin-bottom: 30px;
    
   
 }
.Popular-Tours{
    margin-top: 0px;
    padding-right: 50px;
    
   
}
.Popular-Tours h2{
    font-size: 30px;
}
.image-container{
    width: 100%;
    height: 100%;
}
.section-title{
    align-items: center;
    text-align: center;
    margin: 50px 10px;
}
.section-title h1{
    margin-top: 80px;
 font-size: 30px;
 font-weight: bold;
}
.section-title p{
    color: dimgray;
    margin-top: 0px;
}

.picture-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.picture-row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    gap: 25px;
    
}

.img-row{
    width: 600px; 
    height: 250px; 
    object-fit: cover; 
}


.two-box-section {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    
    
}

.box {
    width: 48%;
    padding: 20px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    background-color: rgb(234, 217, 223);
    border-radius: 10px;
    
}
.box-2 {
    width: 48%;
    padding: 20px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    background-color: rgb(234, 217, 223);
    border-radius: 10px;
    margin-left: 25%;
}

.icon {
    font-size: 64px;
}

.Deals-content{
   text-align: center;
   margin-bottom: 50px;
}

.overlay-text-deals {
    position: absolute;         
    top: 60%;
    left: 65%;
    transform: translate(-50%, -50%);
    background-color: rgba(237, 230, 230, 0.947);
    padding: 0px 30px;
    border-radius: 10px;
    text-align: start;
   
}
.Deals-content-2{
    text-align: center;
    margin-bottom: 50px;
 }

.overlay-text-deals-2 {
    position: absolute;         
    top: 60%;
    left: 40%;
    transform: translate(-50%, -50%);
    background-color: rgba(237, 230, 230, 0.947);
    padding: 0px 30px;
    border-radius: 10px;
    text-align: start;
    
   
}

.two-part-section {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
}

.form-part {
    width: 48%; 
    padding: 50px 50px;
    background-color: rgb(255, 230, 222);
}

form {
    max-width: 300px; /* Adjust the max width of the form as needed */
   
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
}

.picture-part {
    width: 48%; /* Adjust the width of the picture part as needed */
    position: relative;
    overflow: hidden;
}

.overlay-text {
    position: absolute;
    top: 70%;
    left: 70%;
    transform: translate(-50%, -50%) rotate(-30deg);
    color: white;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}



@media screen and (max-width: 600px) {
    body{
        padding: 10px 0px;
    }
    .menu {
        flex-direction: column;

        
    }

    .menu-toggle {
        display: flex;
        
    }

    nav {
        display: none;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        margin-top: 20px;
        
        justify-content: center;
    }
    li{
        font-size: 15px;
    }

    nav.active {
        display: flex;
    }
    .main-content{
        margin-top: 20px;
    }
    .travel-banner-titile{
        font-size: 20px;
        margin-top: 0px;
        top: 40px;
    }
    .travel-banner-description{
        font-size: 7px;
        margin-top: 1px;
        margin-bottom: 5px;
        top: 70px;
    }
    .overlay-text{
        top: 60%;
        padding: 0% 0%;
        padding: 5px;
        margin-bottom: 2px;
        

    }
   .overlay{
    height: 300px;
   }
    .button{
        margin-bottom: 2px;
    }

    .content-section{
        flex-direction: column;
        margin: 0;
        padding: 0 10px;
    }
    .section-title{
        margin: 0%;
        padding: 2%;
    }
    .section-title h1{
        margin-top: 10px;
    }
    .img-row{
        width: 100%; 
        height: auto;
    }
    .picture-section{
        flex-direction: column;
    }
    .picture-row{
        flex-direction: column;
        
    }
    .two-box-section {
        flex-direction: column;
        align-items: center;
    }
    .box{
        width: 90%;
        margin: 20px;
        margin-left: 0px;
        margin-bottom: 0px;

    }
    .box-2{
        width: 83%;
        margin: 20px;
        margin-top: 0px;
        margin-bottom: 5px;
    
        
    }
    .bookimg{
        height: 300px;
        margin-top: 0px;
    }
    .overlay-text-deals{
        top: 70%;
        left: 40%;
      
    }
    .overlay-text-deals h1{
       font-size: 5px;
    }
    .overlay-text-deals p{
       font-size: 5px;
    }
    .overlay-text-deals-2{
        top: 70%;
        left: 40%;
      
    }
    .overlay-text-deals-2 h1{
       font-size: 5px;
    }
    .overlay-text-deals-2 p{
       font-size: 5px;
    }
    .button-1{
        display: none;
    }
    .two-part-section{
        flex-direction: column;
    }
    .save{
       display: none;
    }
}


